header{
    background-color: yellow;
    height: 100px;
}
.nav{
    background-color: yellow;
    height: 300px;
    width: 20%;
    float: left;
    margin-right: 10px;
}
.article{
background-color: yellow;
height: 300px;
width: 58%;
float: left;
}
.aside{
background-color: yellow;
height: 300px;
width: 20%;
float: right;
}
.contant{
    margin-top: 30px;
    overflow: hidden;
}
footer{
    background-color: yellow;
    height: 100px;
}